---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/shared/ProductCard.astro';
import { getCollection } from 'astro:content';

const products = await getCollection('products')
---

<Layout title="製品情報">
  <main>
    <h1>製品情報</h1>
    <section class="products">
        {
          products.map(product => (
              <ProductCard
                title={product.data.name}
                description={product.data.description}
                image={product.data.image}
                price={product.data.price}
                url={`/products/${product.slug}`}
              />
          ))
        }
    </section>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		max-width: calc(100% - var(--space-s));
		line-height: 1.6;
	}
  h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    padding: var(--space-s);
    margin-bottom: var(--space-l);
  }
  .products {
    display: flex;
    align-items: flex-start;
    gap: var(--space-s);
    flex-wrap: wrap;
  }
</style>