---
import 'zenn-content-css';
import lib from 'zenn-markdown-html';
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatToCurrency } from "../../util/formatToCurrency";

// TODO: as any を処する
let markdownHtml = lib
if(typeof lib !== 'function') {
  markdownHtml = (markdownHtml as any).default;
}

export async function getStaticPaths(){
  const productEntries = await getCollection('products');
  return productEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }))
};

const { entry } = Astro.props;
const html = markdownHtml(entry.body);

---
<Layout title={entry.data.name}>
  <main>
    <section class="product-description">
      <h1>{entry.data.name}</h1>
      <p>{entry.data.description}</p>
      <p>価格: {formatToCurrency(entry.data.price)}</p>
      <img src={entry.data.image} alt={entry.data.name} width="400px">
    </section>
    <section class="znc"> <!-- Markdown に zenn のスタイルを適用するために znc クラスを付与する必要がある -->
      <Fragment set:html={html} />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
		padding: 2rem;
		max-width: calc(100% - 16rem);
		line-height: 1.6;
  }
  h1 {
    font-size: var(--font-4xl);
  }
  .product-description {
    margin-bottom: 2rem;
  }
</style>
