---
import 'zenn-content-css';
import lib from 'zenn-markdown-html';
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatToCurrency } from "../../util/formatToCurrency";

// TODO: as any を処する
let markdownHtml = lib
if(typeof lib !== 'function') {
  markdownHtml = (markdownHtml as any).default;
}

export async function getStaticPaths(){
  const productEntries = await getCollection('products');
  return productEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }))
};

const { entry } = Astro.props;
const html = markdownHtml(entry.body);

---
<Layout title={entry.data.name}>
  <main>
    <section class="product">
      <div class="product-description">
        <h1>{entry.data.name}</h1>
        <p>{entry.data.description}</p>
        <div class="price">
          <span class="kakaku">価格: </span>
          <span class="price-yen">{formatToCurrency(entry.data.price)}</span>
        </div>
      </div>
      <div class="product-image">
        <img src={entry.data.image} alt={entry.data.name} height="400px">
      </div>
    </section>
    <section class="znc"> <!-- Markdown に zenn のスタイルを適用するために znc クラスを付与する必要がある -->
      <Fragment set:html={html} />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
		padding: 2rem;
		max-width: calc(100% - 16rem);
		line-height: 1.6;
  }
  h1 {
    font-size: var(--font-2xl);
  }
  .product {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .product-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price {
    display: flex;
    align-items: flex-end;
    color: #ff0037;
    gap: var(--space-s);
    margin-top: var(--space-xs);
  }
  .kakaku {
    ront-size: var(--font-l);
    line-height: var(--line-h-l);
  }
  .price-yen {
    font-size: var(--font-2xl);
    line-height: var(--line-h-2xl);
  }
</style>
